<header class="header">
    <div class="brand">
        <a href="#" onclick="window.location.href = window.baseUrl + '/index.html'; return false;"><h1>MealMates</h1></a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/blog.html';">Blog</a></li>
            <li><a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/my-recipes.html';">Mis recetas</a></li>
            <li><a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/weekly-planner.html';">Menú Semanal</a></li>
        </ul>
    </nav>
    <div class="user-icon">
        <div class="user-menu-container">
            <i class="fas fa-user-circle"></i>
            <div class="user-menu">
                <div class="user-menu-header">
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/login.html';" class="guest-text">Invitado</a>
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/profile.html';" class="user-text" style="display: none">Nombre_usuario</a>
                </div>
                <div class="user-menu-items guest-items">
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/login.html';" class="menu-item">
                        <i class="fas fa-sign-in-alt"></i>
                        Iniciar sesión
                    </a>
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/login.html#register';" class="menu-item">
                        <i class="fas fa-user-plus"></i>
                        Registrarse
                    </a>
                </div>
                <div class="user-menu-items user-items" style="display: none">
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/profile.html';" class="menu-item">
                        <i class="fas fa-user-edit"></i>
                        Mi perfil
                    </a>
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/weekly-planner.html';" class="menu-item">
                        <i class="fas fa-calendar-week"></i>
                        Planificador
                    </a>
                    <a href="javascript:void(0);" onclick="window.location.href = window.baseUrl + '/src/login.html';" class="menu-item logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Cerrar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
